@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    }
}

/*Colors*/
:root{
--Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);
--Very_Dark_Blue: hsl(234, 12%, 34%);
--Grayish_Blue: hsl(229, 6%, 66%);
--Very_Light_Gray: hsl(0, 0%, 98%);
--font: 15px;
}

body{
    display: flex;
    font-family: 'Poppins', sans-serif;
    background: var(--Very_Light_Gray);
    font-size: var(--font);
    margin: 4rem 0;
}

h1{
    color: var(--Very_Dark_Blue);
}

p{
    color: var(--Grayish_Blue);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header_section{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-bottom: 3.5rem;
}

.header_section h1:nth-child(2n+1){
    font-weight: 200;
}

.header_section h1:nth-child(2n){
    font-weight: 600;
}

.header_section p{
    max-width: 55ch;
    font-weight: 400;
    color: var(--Grayish_Blue);
    margin-top: 1rem;
}

.main_section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.main_section .first_section, .second_section, .third_section, .forth_section{
    padding: 2rem;
    width: 80%;
    background: white;
    border-radius: 0.5rem;
    margin: 0 auto;
    box-shadow: 0px 10px 40px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    height: 16rem;
}

.main_section h1{
    font-weight: 600;
}

.main_section p{
    font-weight: 400;
    margin-bottom: 2rem;
}

.first_section { 
    grid-area: 1 / 1 / 2 / 2;
    border-top: 4px solid var(--Cyan);
    position: relative;
    top: 50%;
}

.second_section { 
    grid-area: 1 / 2 / 2 / 3;
    border-top: 4px solid var(--Red);
    margin-bottom: 2rem;
}

.third_section { 
    grid-area: 2 / 2 / 3 / 3;
    border-top: 4px solid var(--Orange);
}

.forth_section { 
    grid-area: 1 / 3 / 2 / 4;
    border-top: 4px solid var(--Blue);
    position: relative;
    top: 50%;
}

.image{
    display: flex;
    justify-content: end;
}